 <!-- Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="search">
            <form action="{% url 'search' %}" method="get">
              <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                  <div class="input-group">
                    <input type="text" name="keywords" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Hot post!!</h5>
          <div class="card-body">
            <h6 >Read  <a href="{% url 'coding' %}">here</a> about my latest projects!!</h6>
            <h7>Now building a plastic AI sorter called, WAIS 
                  (Waste Artificial Intelligent Separator) </p>
          </div>
        </div>


        <!-- Categories Widget 
        <div class="card my-4">
          <h5 class="card-header">Please check this too!!</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="{% url 'coding' %}">Programming</a>
                  </li>
                  <li>
                    <a href="{% url 'arts' %}">Arts</a>
                  </li>
                  <li>
                    <a href="#">Machine Learning</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Bioinformatics</a>
                  </li>
                  <li>
                    <a href="#">Big Data</a>
                  </li>
                  <li>
                    <a href="#">Spider</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- Ends Category widgets-->



      </div>
      <!-- Ends Side Widgets-->