{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
          <a href= "{% url 'index' %}">
              <i class="fas fa-home"></i>Home</a>
          </li>
          <li class="breadcrumb-item active">About</li>
      </ol>
      </nav>
  </div>
</section>







<div class="container">
    <!-- About -->
    <div id="about_image_text">
        <div class="container">
            <div class="row">
            <!-- round image--> <!-- welcome mini text!-->
                <div class="col-md-6">
                        <div class="container">
                        <h2>Fernando Cabello Domingo</h2>
                        <p>Multitask animal</p>    
                        <p>Crazy about coding and digital arts, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Nisl purus in mollis nunc sed id semper risus in. Ipsum consequat nisl vel pretium lectus quam id leo in. Massa sed elementum 
            tempus egestas sed sed risus pretium quam. Nunc</p>        
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="container text-center">     
                        <img src={% static 'img/fer_main.jpg' %} class="rounded-circle" alt="Cinque Terre" width="300" height="300"> 
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Present and vision-->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Present and vision.</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Nisl purus in mollis nunc sed id semper risus in. Ipsum consequat nisl vel pretium lectus quam id leo in. Massa sed elementum 
            tempus egestas sed sed risus pretium quam. Nunc faucibus a pellentesque sit amet porttitor eget. Ut porttitor leo a diam sollicitudin.
            Donec et odio pellentesque diam volutpat commodo sed egestas egestas. At tempor commodo ullamcorper a lacus vestibulum sed arcu. 
            Sed libero enim sed faucibus turpis in eu mi. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
            Sed libero enim sed faucibus turpis in eu. Nisl vel pretium lectus quam id leo in vitae. Felis imperdiet proin fermentum leo vel 
            orci porta. Lorem sed risus ultricies tristique nulla aliquet enim. Donec adipiscing tristique risus nec.</p>
        </div>
        </div>





<!-- Skills_new-->
<div id="skills">
    <div class= "container">
        <div class="flex-wrapper">
                    <div class="single-chart">
                        <svg viewbox="0 0 50 80" class="circular-chart orange">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="50, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">50%</text>
                        <text x="18" y="50" class="percentage">Python</text>
                        </svg>
                    </div>


                    <div class="single-chart">
                        <svg viewbox="0 0 50 80" class="circular-chart blue">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="70, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">70%</text>
                        <text x="18" y="50" class="percentage">Django</text>
                        </svg>
                    </div>


                    <div class="single-chart">
                        <svg viewbox="0 0 50 80" class="circular-chart purple">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="30, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">30%</text>
                        <text x="18" y="50" class="percentage">AWS</text>
                        </svg>
                    </div>


                    <div class="single-chart">
                        <svg viewbox="0 0 50 80" class="circular-chart orange">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="30, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">30%</text>
                        <text x="18" y="50" class="percentage">ML/AI</text>
                        </svg>
                    </div>
        </div><!-- /flex-wrapper-->
    </div><!-- /container-->
</div><!-- /skills_new-->









<!-- Skills_old-->
<div id="skills_old">
    <div class= "container">
        <div class="flex-wrapper">
                    <div class="single-chart">
                        <svg viewbox="0 -20 50 80" class="circular-chart pink">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="30, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">30%</text>
                        <text x="18" y="50" class="percentage">API's</text>
                        </svg>
                    </div>


                    <div class="single-chart">
                        <svg viewbox="0 -20 50 80" class="circular-chart red">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="20, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">20%</text>
                        <text x="18" y="50" class="percentage">Spyder</text>
                        </svg>
                    </div>


                    <div class="single-chart">
                        <svg viewbox="0 -20 50 80" class="circular-chart yellow">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="10, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">10%</text>
                        <text x="18" y="50" class="percentage">React</text>
                        </svg>
                    </div>


                    <div class="single-chart">
                        <svg viewbox="0 -20 50 80" class="circular-chart green">
                        <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                            stroke-dasharray="30, 100"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage">30%</text>
                        <text x="18" y="50" class="percentage">Data Science</text>
                        </svg>
                    </div>
        </div><!-- /flex-wrapper-->
    </div><!-- /container-->
</div><!-- /skills_old-->
  
<!-- My History-->
<div id="about_history">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">A bit of my past.</h1>
            <p class="lead">How everything started</p>
            <p> I still remember perfectly when my mum bought our first computer a Spectrum 16K back then in the '80s. 
                At that precise moment, I knew what I wanted to do, Games.It took a long time till I started to do some 
                serious coding, everything started with 3Ds max. As a digital artist and amateur coder, it was inevitable, 
                sooner or later I will create my tools and plugins. I started creating some plugging and bones systems in max scripts... 
                Later on, I fully immersed and decide to study computer science to understand what was going on.
                It is just not along with that I transformed myself from games programmer and University lecturer to web programming 
                and science like Machine Learning and bioinformatics.</p>
        </div>
        </div>
    </div>
</div>

{% endblock %}