{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
          <a href= "{% url 'index' %}">
              <i class="fas fa-home"></i>Home</a>
          </li>
          <li class="breadcrumb-item active">About</li>
      </ol>
      </nav>
  </div>
</section>


<div class="container">
    <!-- About -->
    <div id="about_image_text">
        <div class="container">
            <div class="row">
            <!-- round image--> <!-- welcome mini text!-->
                <div class="col-md-6">
                        <div class="container">
                        <h2>Fernando Cabello Domingo</h2>
                        <p>Multitask animal</p>            
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="container text-center">     
                        <img src={% static 'img/fer_main.jpg' %} class="rounded-circle" alt="Cinque Terre" width="300" height="280"> 
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Present and vision-->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Present and vision.</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Nisl purus in mollis nunc sed id semper risus in. Ipsum consequat nisl vel pretium lectus quam id leo in. Massa sed elementum 
            tempus egestas sed sed risus pretium quam. Nunc faucibus a pellentesque sit amet porttitor eget. Ut porttitor leo a diam sollicitudin.
            Donec et odio pellentesque diam volutpat commodo sed egestas egestas. At tempor commodo ullamcorper a lacus vestibulum sed arcu. 
            Sed libero enim sed faucibus turpis in eu mi. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
            Sed libero enim sed faucibus turpis in eu. Nisl vel pretium lectus quam id leo in vitae. Felis imperdiet proin fermentum leo vel 
            orci porta. Lorem sed risus ultricies tristique nulla aliquet enim. Donec adipiscing tristique risus nec.</p>
        </div>
        </div>




        <!-- Skills-->
<div class="jumbotron">
        <div id="skills">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="progress yellow">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">75%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
        <!-- My History-->

        <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">A bit of my past.</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Nisl purus in mollis nunc sed id semper risus in. Ipsum consequat nisl vel pretium lectus quam id leo in. Massa sed elementum 
            tempus egestas sed sed risus pretium quam. Nunc faucibus a pellentesque sit amet porttitor eget. Ut porttitor leo a diam sollicitudin.
            Donec et odio pellentesque diam volutpat commodo sed egestas egestas. At tempor commodo ullamcorper a lacus vestibulum sed arcu. 
            Sed libero enim sed faucibus turpis in eu mi. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
            Sed libero enim sed faucibus turpis in eu. Nisl vel pretium lectus quam id leo in vitae. Felis imperdiet proin fermentum leo vel 
            orci porta. Lorem sed risus ultricies tristique nulla aliquet enim. Donec adipiscing tristique risus nec.</p>
        </div>
        </div>
</div>

{% endblock %}