

{% extends 'base.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'coding/style.css' %}">



<script src= "{% static 'js/three.js-master/loaders/OBJLoader.js' %}"></script>
<script src= "{% static 'js/three.js-master/controls/TrackballControls.js' %}"></script>

<script>
    var texture_url = "{% static 'assets/Blue.jpg' %}";
    //var whale       = "{% static 'assets/Erika_new_pose.obj' %}";
    var whale       = "{% static 'assets/Erika_particles.obj' %}";
    
</script>

<script  src="{% static 'coding/coding_loader_script.js' %}"></script>




<!-- Breadcrumb -->
<section id="bc" class="mt-3">
<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'index' %}">
            <i class="fas fa-home"></i>Home</a>
        </li>
        <li class="breadcrumb-item active">Arts</li>
    </ol>
    </nav>
</div>
</section>


<div class="container" >
    <div class="jumbotron">
        <h1 class="display-4"> Natural born artist.</h1>
        <p class="lead"> My first memories as a kid were with my grandma drawing in the kitchen.  </p>
        <p class="lead"> I was that typical boy who was always drawing everywhere.  </p>
        <p class="lead"> At some point, teachers stop complaining about my lack of attention and allow me to draw my homework.  </p>
        <p class="lead"> They finished using my draws for their lecture content. </p>
        <p class="lead"> Since then, nothing has changed that much. True that I'm not drawing full time now, but I just have substituted by some science and coding which is my other passion. </p>

        <hr class="my-4">
        <p>And from time to time I like to grab my digital tools and do some nice thingies.</p>

        </div>
</div>



<!-- Post Content -->
<div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-md-8">

          {% for post in posts %}
            <!-- Title -->
            <h1>{{ post.title }}</h1>
            <hr>
            <!-- Author -->
            <p class="lead">
              by user: <a href="#">{{ post.author}}</a>
            </p>
            <!-- Date/Time -->
            <p>{{ post.created }}</p>
            <!-- Preview Image -->
            <div id="main_image_post">
                <img class="img-fluid rounded" src="{{ post.photo_main.url }}" alt="">
            </div>
            <!-- Post Content -->
            <div id="mini_content_index">
                <p>{{ post.mini_content|safe }}</p>
            </div>
            <!-- Post Button -->
            <div id= "info_button">
                <a href="{% url 'post' post.id %}" class="btn btn-primary btn-md">More Info</a>
            </div>
          {% endfor %} 
          <!-- Post Content Column ends -->
        </div>
        <!-- Side Widgets-->

    </div>
    <!-- /.row -->
    <hr>
  </div>
  <!-- /.container -->
  </div>
</div>
  <!-- /Post Content -->



<!-- Pagination -->
 <div class="row">
        <div class="mx-auto" style="width: 200px;">
    {% if posts.has_other_pages %}
    <ul class="pagination">
        {% if posts.has_previous %}
        <li class="=page-item">
            <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;
            </a>
        </li>
        {% else %}
            <li class="page_item disabled">
            <a class="page-link">&laquo;</a>
            </li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
            <li class="page-item active"></li>
            <a class="page-link">{{i}}</a>
            </li>
            {% else %}        
            <li class="page-item">
                <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
        <li class="=page-item">
            <a href="?page={{posts.next_page_number}}" class="page-link">&raquo;
            </a>
        </li>
        {% else %}
            <li class="page_item disabled">
            <a class="page-link">&raquo;</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
</div> 
</div>
</div>
<!-- /.Pagination -->

{% endblock %}