{% extends 'base.html' %}
{% load static %}



{% block content %}
  

  
<link rel="stylesheet" href="{% static 'waves/style.css' %}">


<!-- Breadcrumb -->
<section id="bc" class="mt-3">
<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'index' %}">
            <i class="fas fa-home"></i>Home</a>
        </li>
        <li class="breadcrumb-item active">Code</li>
    </ol>
    </nav>
</div>
</section>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Passionate about coding</h1>
        <p class="lead">Programming and science always been a passion for me. I still remember perfectly when my mum bought our firts computer a Spectrum 16K back 
        then in the 80's. At at that precise moment I new what I wanted to do, Games. </p>
        <p class="lead">It took long time till I really started to do some serious coding, 
        everything started with 3Ds max. As a digital artist and amateur coder, was inevitable, sooner or later I will create my own tools and pulgins.
        I started creating some pluging and bones systems in max scripts.. Later on I fully inmersed and decide 
        to study computer science to reaaly understand what was going on.  </p>
        <p class="lead">
        Is just not along that I transformed my-self from games programmer and University lecturer to web programming and science like Machine Learning and bioinformatics.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        </div>
</div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js'></script>

<!-- Post Content -->
<div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-md-8">
          {% for post in posts %}
            <!-- Title -->
            <h1>{{ post.title }}</h1>
            <hr>
            <!-- Author -->
            <p class="lead">
              by user: <a href="#">{{ post.author}}</a>
            </p>
            <!-- Date/Time -->
            <p>{{ post.created }}</p>
            <!-- Preview Image -->
            <div id="main_image_post">
                <img class="img-fluid rounded" src="{{ post.photo_main.url }}" alt="">
            </div>
            <!-- Post Content -->
            <div id="mini_content_index">
                <p>{{ post.mini_content|safe }}</p>
            </div>
            <!-- Post Button -->
            <div id= "info_button">
                <a href="{% url 'post' post.id %}" class="btn btn-primary btn-md">More Info</a>
            </div>
          {% endfor %}
          <!-- Post Content Column ends -->
        </div>
        <!-- Side Widgets-->

    </div>
    <!-- /.row -->
    <hr>
  </div>
  <!-- /.container -->
  </div>
</div>
  <!-- /Post Content -->  



    <script  src="{% static 'waves/script.js' %}"></script>

{% endblock %}



