{% extends 'base.html' %}
{% load static %}



{% block content %}
  

  
<!--<link rel="stylesheet" href="{#% static 'waves/style.css' %}">-->


<!-- Breadcrumb -->
<section id="bc" class="mt-3">
<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'index' %}">
            <i class="fas fa-home"></i>Home</a>
        </li>
        <li class="breadcrumb-item active">Code</li>
    </ol>
    </nav>
</div>
</section>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Passionate about science</h1>
        <p class="lead">Always been curious and love science, after a few years developing games and lecturing about the topic in Universities.
         I've decided to give a little turn to my career and started to learn bioinformatics, machine learning, AI, big-data, etc...</p>
        <p class="lead">I contacted Pablo Olavide University in Seville were they kindly guide in
         the necessary knowledge to grasp, to become a data scientist, and programmer.  </p>
        <p class="lead">
        Soon I was programming in Python, developing webs in Django, and doing exercises about  ML, AI, AWS, etc..</p>
        <hr class="my-4">
        <p>And what exciting new times are coming. I'm thrilled to see the vast amount of knowledge to fulfill.</p>

        </div>
</div>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js'></script>

<!-- Post Content -->
<div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-md-8">
          {% for post in posts %}
            <!-- Title -->
            <h1>{{ post.title }}</h1>
            <hr>
            <!-- Author -->
            <p class="lead">
              by user: <a href="#">{{ post.author}}</a>
            </p>
            <!-- Date/Time -->
            <p>{{ post.created }}</p>
            <!-- Preview Image -->
            <div id="main_image_post">
                <img class="img-fluid rounded" src="{{ post.photo_main.url }}" alt="">
            </div>
            <!-- Post Content -->
            <div id="mini_content_index">
                <p>{{ post.mini_content|safe }}</p>
            </div>
            <!-- Post Button -->
            <div id= "info_button">
                <a href="{% url 'post' post.id %}" class="btn btn-primary btn-md">More Info</a>
            </div>
          {% endfor %}
          <!-- Post Content Column ends -->
        </div>
        <!-- Side Widgets-->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
</div>
  <!-- /Post Content -->  




{% endblock %}



