{% extends 'base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'coding/style.css' %}">

    

<script src= "{% static 'js/three.js-master/loaders/OBJLoader.js' %}"></script>
<script src= "{% static 'js/three.js-master/controls/TrackballControls.js' %}"></script>


<script>
    var whale, texture ;

    var container, controls;

    var camera, scene, renderer;

    var mouseX = 0, mouseY = 0;

    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;

    var object;

    init();
    animate();


    function init() 
    {

        container = document.createElement( 'div' );
        document.body.appendChild( container );

        camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 5000 );

        camera.position.set( 500, 0, -1000 );

        scene = new THREE.Scene();
        scene.background = new THREE.Color( 0xa0a0a0 );
        //scene.fog = new THREE.Fog( 0xa0a0a0, 200, 3000 );

        light = new THREE.HemisphereLight( 0xffffff, 0x444444 );
        light.position.set( 0, 200, 0 );
        scene.add( light );

        light = new THREE.DirectionalLight( 0xffffff );
        light.position.set( 0, 200, 100 );
        light.castShadow = true;
        light.shadow.camera.top = 180;
        light.shadow.camera.bottom = - 100;
        light.shadow.camera.left = - 120;
        light.shadow.camera.right = 120;
        scene.add( light );

        // scene.add( new THREE.CameraHelper( light.shadow.camera ) );


        // manager

        function loadModel() {

            object.traverse( function ( child ) {

                if ( child.isMesh ) child.material.map = texture;

            } );

            object.position.y = -500;
            object.position.x = -600;
            scene.add( object );

        }

        var manager = new THREE.LoadingManager( loadModel );

        manager.onProgress = function ( item, loaded, total ) {

            console.log( item, loaded, total );

        };

        // texture

        var textureLoader = new THREE.TextureLoader( manager );

        var texture = textureLoader.load( "{% static 'assets/UV_Grid_Sm.jpg' %}" );

        // model

        function onProgress( xhr ) {

            if ( xhr.lengthComputable ) {

                var percentComplete = xhr.loaded / xhr.total * 100;
                console.log( 'model ' + Math.round( percentComplete, 2 ) + '% downloaded' );

            }

        }

        function onError() {}

        var loader = new THREE.OBJLoader( manager );

        //loader.load( 'models/obj/male02/male02.obj', function ( obj ) 
        loader.load( "{% static 'assets/whale.obj'  %}", function ( obj ) 
        {

            object = obj;

        }, onProgress, onError );

        //

        renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( window.innerWidth, window.innerHeight );
        container.appendChild( renderer.domElement );

        document.addEventListener( 'mousemove', onDocumentMouseMove, false );

        controls = new THREE.TrackballControls( camera, renderer.domElement );

        window.addEventListener( 'resize', onWindowResize, false );

    }

    function onWindowResize() {

        windowHalfX = window.innerWidth / 2;
        windowHalfY = window.innerHeight / 2;

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );

    }

    function onDocumentMouseMove( event ) {

        mouseX = ( event.clientX - 100 ) ;
        mouseY = ( event.clientY - 100 );

    }

    function resize() {

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );

    }

    function animate() {
        //object.rotation.x += 0.01;
        requestAnimationFrame( animate );
        render();
    }

    function render() {

        //controls.update();
        object.rotation.y += 0.004;

        //camera.position.x += ( mouseX - camera.position.x ) * .05;
        //camera.position.y += ( - mouseY - camera.position.y ) * .05;

        camera.lookAt( scene.position );

        renderer.render( scene, camera );
        

    }

</script>




        <div class="container">
    <!-- About -->
    <div id="about_image_text">
        <div class="container">
            <div class="row">
            <!-- round image--> <!-- welcome mini text!-->
                <div class="col-md-6">
                        <div class="container">
                        <h2>Fernando Cabello Domingo</h2>
                        <p>Please contact me for whatever you need!</p>    
                        <p>Best way of contacting, please drope me an email.
                            email: fernando.cabello.domingo@gmail.com</p>        
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="container text-center">     
                        <img src={% static 'img/fer_main.jpg' %} class="rounded-circle" alt="Cinque Terre" width="300" height="280"> 
                        </div>
                </div>
            </div>
        </div>
    </div>



    
	<div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to my new Blog!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Browse some of my work</a>
            </p>
            </div>
        </div>
        </div>



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.72810784922!2d-0.24168043751141846!3d51.52877184053823!2m3!1f0!2f0!3f0!3m2!1i102
4!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2ses!4v1564630254306!5m2!1sen!2ses" 
width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>




	</body>
</html>



{% endblock %}