#preloader{
    background-color: white;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9999;
}
#status{
	background-image:url('../img/Blocks.gif');
	background-repeat: no-repeat;
	height:70px;
	width: 70px;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -35px;
	margin-left: -35px;

}

.welcome {

    padding-top: 300px;
    text-align: center;
    padding-bottom: 100px;
    
    font-family: 'Raleway', sans-serif;
}
h1 {
	font-family: "Raleway",sans-serif;

}
