h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* 
Basic stuf....................
*/
#preloader{
    background-color: white;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9999;
}
#status{
	background-image:url('../img/Blocks.gif');
	background-repeat: no-repeat;
	height:70px;
	width: 70px;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -35px;
	margin-left: -35px;

}

#welcome {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 40px;
  	
  	line-height: 20px;
}

#welcome_f_text{
    font-size: 60px;
    padding-bottom: 40px;

}
#latest_post{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

#info_button
{
	padding-left: 80%;
	padding-bottom: 40px;
}

#mini_content_index{
	margin: 0 6px;
    padding: 20px 0px 20px 5px;
}

#main_image_post{
	padding: 10px 0px 0px 0px;

}
#mini_content_post{
	margin: 0 6px;
    padding: 10px 0px 50px 5px;
}

#post_content{

	padding: 20px 0px 50px 5px;

}
#carousel_post{
    background-color: darkgrey;
}

/* =========================================
                About
============================================ */
#about_image_text{
    padding: 50px 0px 50px 5px;

}



/* =========================================
                Skills
============================================ */
#skills{
    padding: 20px 0px 0px 5px;

}
#skills_old{
    padding: -100px 0px 0px 5px;
    /*background-color: rgb(184, 184, 184);*/

}

#about_history{
    padding: 50px 0px 50px 5px;   
}


/* =========================================
                Skills 2
============================================ */
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.cyan .circle {
    stroke: rgb(9, 227, 235);
  }
  
  .circular-chart.blue .circle {
    stroke: #0383df;
  }
  .circular-chart.purple .circle {
    stroke: #a73ce5;
  }
  .circular-chart.pink .circle {
    stroke: #d808ab;
  }
  .circular-chart.yellow .circle {
    stroke: #e7d107;
  }
  .circular-chart.green .circle {
    stroke: #1ae707;
  }
  .circular-chart.red .circle {
    stroke: #e70707;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }